.event {
  width: 200px;
  height: 200px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.event p {
  color: royalblue;
  font-weight: bold;
  text-align: center;
}

.event_info_modal {
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 40vw;
  height: 60vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.close_icon {
  width: 100%;
  height: 1vh;
}
.info_area {
  width: 100%;
  height: 10vh;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc {
  padding: 5px;
  width: 100%;
  height: 20vh;
  font-size: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.links {
  width: 100%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.speakers {
  margin-top: 20px;
  width: 100%;
  font-size: x-large;
  text-align: center;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 850px) {
  .event_info_modal {
    width: 90vw;
    height: 80vh;
  }
}
.speaker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.template {
  width: 30px;
  height: 30px;
  margin: 15px;
}
