.event {
  width: 200px;
  height: 200px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
