* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
}
.home {
  height: calc(92vh - 70px);
  width: 100vw;
}
